@media only screen and (min-width : 1224px){
  /* Seulement pour ordinateur ! (Car sur mobile tout est parfaitement responsive) */

#navbar {
    height: 7vh;
  }
 
  #map {
    min-height: 93vh;
    position: fixed;
  }

  #changeRadius {
    height: 13vh;
  }

  #listRestos {
    height: 80vh;
  }

}

#map {
  min-height: 93vh;
  position: fixed;
}
.btnReview {
  margin-bottom: 2%;
}

#listRestos {
  background-color: #C4C4CC;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

#changeRadius {
  background-color: #C4C4CC;
}

nav {
  margin: 0;
  padding: 0;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  background-color: #C4C4CC;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

ul {
  list-style: none;
}

.btnAvis {
  margin-bottom: 2%;
}

.card {
  border: 0!important;
   border-radius: 0!important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Pour les téléphones uniquement */
  }
